name: Scanning Code with Semgrep

on: [pull_request]

jobs:
  git-secrets-check:
    name: Run Semgrep scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Semgrep
        run: |
          python -m pip install --upgrade pip
          pip install semgrep

      - name: Run Semgrep
        run: semgrep --config p/ci

      - name: Upload Semgrep results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: semgrep-results
          path: semgrep.sarif
